<form class="form-horizontal" method="post">
  <legend>用户登入</legend>
  <div class="control-group">
    <label class="control-label" for="username">用户名</label>
    <div class="controls">
      <input type="text" id="username" name="username" placeholder="Username">
      <p class="help-block">你的账户名称，用于登入和显示</p>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="password">口令</label>
    <div class="controls">
      <input type="password" id="password" name="password" placeholder="Password">
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">登入</button>
  </div>
</form>
